html, body, #app{
    height: 100%;
    min-width: 1366px;
}

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif
}

.el-breadcrumb  {
    margin-bottom: 15px; 
    font-size: 18px;
}

.el-table {
    margin-top: 20px;
    font-size: 16px;
}

.el-pagination {
    text-align: center;
    margin-top: 15px;
}

.el-dialog__body {
    font-size: 16px;
}

.el-tree-node__label{
    font-size: 16px;

}